<%#
This file is part of vcodec_bench.

vcodec_bench is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

vcodec_bench is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with vcodec_bench. If not, see <http://www.gnu.org/licenses/>.
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Video codec benchmark(video comparation)</title>
    <link rel="stylesheet" href="master.css" type="text/css" media="screen" title="default" charset="utf-8"/>
  </head>
  <body id="main">
    <table>
      <tbody>
      <% for b in @bitrates %>
        <tr><td colspan="<%= @codecs.length %>"><%= b %></td></tr>
        <tr>
        <% for c in @codecs %>
          <td><%= c %></td>
        <% end %></tr>
        <tr>
        <% for c in @codecs %>
          <td><img src="<%= "#{@input_name}.#{b}.#{@mapext[c]}.png" %> "/></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </body>
</html>

